.animate-hidden {
	opacity: 0;
}

.animate-visible {
     opacity:1;
}

.animated {
	animation-duration: .5s;
	animation-fill-mode: both;
}

.animated.infinite {
	animation-iteration-count: infinite;
}



// fadeInUp
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 20%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.fadeInUp {
	animation-name: fadeInUp;
}
