.bg-gradient {
	background-repeat: no-repeat;
	background-size: 100% 10rem;
	background-image: linear-gradient(#d9f1f5, transparent);
}
.bg-gradiend-round {
	background-repeat: no-repeat, no-repeat;
	background-size: 100% auto, 100% 40rem;
	background-position: 0 10rem, 0 10rem;
	background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$white}' viewBox='0 0 256 10'%3E%3Cpath d='M256,0c0,0-57.3,10-128,10S0,0,0,0H256z'/%3E%3C/svg%3E"), "#", "%23"), linear-gradient(#e4fafc, transparent);
}

.bg-drawing {
	@include media-breakpoint-up('md') {
		background-position: right calc(100% - 1.5rem);
		background-repeat: no-repeat;
		background-image: url('../img/bg/03.png');
	}
}

.bg-animation {
	background-repeat: no-repeat, no-repeat;
	background-size: 200% auto, 100% 40rem;
	background-position: center bottom, 0 0;
	background-image: url('../img/bg/01.png'), linear-gradient(#d9f1f5, transparent);

	@media (min-width: 1600px) {
	    background-size: auto, 100% 40rem;
	}
}

.bg-animation-island {
	background-size: 115% auto;
	background-position: center 100%;
	background-repeat: no-repeat;
	background-image: url('../img/bg/02.png');

	@media (min-width: 1600px) {
		 background-size: auto;
	}

	&.footer-indent {
		background-position: center calc(100% - 3.5rem);
	}
}