.banner-well {
	position: relative;
	background: $light;
	&::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 2rem;
		right: 2rem;
		height: 1rem;
		background: #bce7eb;
	}
}

.banner-well-inner {
	position: relative;
	font-size: $font-size-base * 1.25;
	line-height: 1.45;
	border-top: 2.75rem solid rgba($white,.5);
	color: $white;
	background: #55bac4;

	&::before {
		content: '';
		position: absolute;
		bottom: calc(100% + .75rem);
		right: 1rem;
		width: 41px;
		height: 47px;
		background: no-repeat url('../img/bg/pin.png') center;
	}

	&::after {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 128px;
		background: no-repeat url('../img/bg/04.png') right bottom;
	}
}