.collapse-contacts {
	position: relative;

	&:not(.show) {
		display: block;
		height: 33.5rem;
		overflow: hidden;

		transition: height .75s;
	}

	&:not(.collapsing):not(.show) {
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 7rem;
			background: linear-gradient(transparent, rgba($white,.95), $white);
		}
	}


	.collapse-button {
		overflow: hidden;
		position: absolute;
		bottom: 0;
		padding-bottom: 5rem;
		left: 0;
		right: 0;

		.btn {
			position: relative;
			top: 0;
			transition: .2s;
		}
	}

	&.collapsing {
		height: 33.5rem;

		.collapse-button .btn {
			top: 30rem;
		}
	}

	&.show {

		.collapse-button {
			display: none;
		}

	}

}