@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/Open_Sans/OpenSans-Italic.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/Open_Sans/OpenSans-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/Open_Sans/OpenSans-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/Open_Sans/OpenSans-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	src: local('Quicksand Regular'), local('Quicksand-Regular'), url('../fonts/Quicksand/Quicksand-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	src: local('Quicksand Bold'), local('Quicksand-Bold'), url('../fonts/Quicksand/Quicksand-Bold.woff') format('woff');
}