.footer-indent {
	position: relative;
	z-index: 1;
	margin-bottom: -3.5rem;
}

.footer-main {
	position: relative;
	padding-top: 3.5rem;
}
.footer-contact {
	@include media-breakpoint-up('sm') {
		padding-left: 7.5rem;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: auto 100%;
		background-image: url('../img/icons/phone-call.svg');
	}
	@include media-breakpoint-down('xs') {
		background: none;
	}
}

.footer-logo {
	font-size: $font-size-base * 4.25;
	line-height: 1;
}
