.header-main {
	@include media-breakpoint-up('lg') {
		background: $primary;
	}
}
.header-logo {
	@include media-breakpoint-up('lg') {
		position: relative;
		background: $white;
		margin-bottom: -.5rem;
		&>* {
			position: relative;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: -1.75rem;
			width: 999em;
			background: inherit;
			box-shadow: 0 0 2rem rgba($body-color,.5);
		}
	}
}

.header-contact {
	color: $white;
	background: $primary;
	@include media-breakpoint-up('lg') {
		background-position: 0 .75rem;
		background-size: auto 109%;
		background-repeat: no-repeat;
		background-image: url('../img/icons/phone-call.svg');
	}
	@include media-breakpoint-up('xl') {
		background-position: 18% .75rem;
	}
}

.header-logo-secondary {
	background: $primary;
	font-size: $font-size-base * 3.5;
	@include media-breakpoint-up('xl') {
		font-size: $font-size-base * 4.25;
	}
}