.table-contacts {
	th,td {
		border: 0;
	}
	thead {
		font-weight: 700;
		font-family: $font-family-headings;
		td,th {
			padding-top: 1.5rem;
			padding-bottom: 1rem;
			color: $white;
			background: $primary;
		}
	}
	thead,
	tbody {
		tr td:first-child,
		tr th:first-child {
			padding-left: 1.25rem;
			@include media-breakpoint-up('xl') {
				border-left: 3rem solid $primary;
			}
		}
		tr td:last-child,
		tr th:last-child {
			padding-right: 1.25rem;
			@include media-breakpoint-up('xl') {
				border-right: 3rem solid $primary;
			}
		}
	}
	tbody {
		font-size: $font-size-base * .83;

		tr:first-child {
			th,td {
				padding-top: 1.9rem;
			}
		}
		tr:last-child {
			th,td {
				border-bottom: 2.35rem solid $white;
			}
		}

		tr th:first-child,
		tr td:first-child {
			border-left-color: $white;
		}
		tr th:last-child,
		tr td:last-child {
			border-right-color: $white;
		}
	}
}
