.testimonial-carousel.owl-carousel {
	.owl-nav {
		display: none;
	}
	.owl-dots {
		display: flex;
		justify-content: center;
	}
	button.owl-dot {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 1.6rem;
		width: 1.6rem;
		border: 2px solid transparent;
		border-radius: 1.6rem;

		&::before {
			content: '';
			display: block;
			width: .66rem;
			height: .66rem;
			background: $success;
			border-radius: .66rem;
		}

		&.active {
			border-color: $success;
		}
	}
}

.testimonial-author {
	@include media-breakpoint-up('lg') {
		position: relative;
		padding-left: 8rem;
		padding-right: 8rem;
		&::before {
			content: '\201D';
			font-family: Arial,sans-serif;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			color: #fff;
			font-weight: normal;
			font-size: 14rem;
			line-height: 1;
			padding-top: 7rem;
			width: 8rem;
			height: 8rem;
			border-radius: 8rem;
			background-color: $success;
			background-image: linear-gradient($success,darken($success,5%));
			overflow: hidden;
		}
	}
}