.title-flag {
	height: .7em;
	box-shadow: .05rem .05rem .25rem rgba($body-color,.75);
}

.title-label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 309px;
	height: 108px;
	padding-bottom: 27px;
	padding-right: 36px;
	font-weight: 700;
	font-size: $font-size-base * 1.55;
	color: $white;
	font-family: $font-family-headings;
	background: url('../img/tag/01.png');
}

.label-icon-round {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: $font-size-base * 4.25;
	padding-bottom: .5rem;
	width: 180px;
	height: 180px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/circle/03.png');

	@include media-breakpoint-up('lg') {
		width: 234px;
		height: 234px;
	}

	&.label-green {
		background-image: url('../img/circle/01.png');
	}

	&.label-yellow {
		background-image: url('../img/circle/02.png');
	}
}

