b,
strong {
	font-weight: $font-weight-bold;
}
blockquote {
	@extend .blockquote;
}
.alignleft {
	float: left;
	margin: .25em 1em .25em 0;
}
.alignright {
	float: right;
	margin: .5em 0 .5em 1.5em;
}
.aligncenter {
	display: block;
	margin: auto;
}


// gallery
.gallery {
	display: flex;
	flex-wrap: wrap;
	margin-left: -($grid-gutter-width / 4);
	margin-right: -($grid-gutter-width / 4);
	margin-top: $spacer * 1;
	margin-bottom: $spacer * 1;
	&>br {
		display: none;
	}
	.wp-caption-text {
		display: block;
		margin: 1rem 0;
	}
}
@for $i from 1 through 9 {
	.gallery-columns-#{$i}:not(.owl-carousel) .gallery-item {
		width: percentage(1/$i);
	}
}
.gallery-item {
	display: block;
	width: 100%;
	text-align: center;
	padding: ($grid-gutter-width / 4);
	@include media-breakpoint-only(sm) {
		[class*=gallery-columns-] & {
			width: 33.3333%;
		}
	}
	@include media-breakpoint-only(xs) {
		[class*=gallery-columns-] & {
			width: 50%;
		}
	}
}
.gallery-icon {
	display: block;
	a {
		display: block;
		position: relative;
		overflow: hidden;
		&:before {
			content: '+';
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			transition: .1s;
			opacity: 0;
			font-size: 0rem;
			color: $white;
			text-align: center;
			line-height: 50rem;
			height: 50rem;
			width: 50rem;
			margin: -25rem 0 0 -25rem;
		}
		&:hover {
			&:before {
				opacity: 1;
				background-color: rgba($primary,.5);
				font-size: $font-size-base * 3;
			}
		}
	}
	img {
		min-width: 100%;
		max-width: 100%;
		height: auto;
	}
}

.wp-caption-text {
	font-size: $font-size-sm;
	text-align: center;
}