*:focus {
	outline: 0!important;
}



b,
strong,
.strong {
	font-weight: $font-weight-bold;
}


@include media-breakpoint-down('sm') {
	.display-1 { font-size: $display1-size *.75; }
	.display-2 { font-size: $display2-size *.75; }
	.display-3 { font-size: $display3-size *.75; }
	.display-4 { font-size: $display4-size *.75; }
	h1 .h1 { font-size: $h1-font-size *.75; }
	h2 .h2 { font-size: $h2-font-size *.75; }
	h3 .h3 { font-size: $h3-font-size *.75; }
	h4 .h4 { font-size: $h4-font-size *.75; }
	h5 .h5 { font-size: $h5-font-size *.75; }
	h6 .h6 { font-size: $h6-font-size *.75; }
}



.text-muted {
	opacity: .5;
}



.text-italic {
	font-style: italic !important;
}




hr {
	border: 0;
	height: .6rem;
	margin-left: 10%;
	margin-right: 10%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url('../img/bg/hr.png');
}




.list-checker {
	margin-left: 0;
	padding: 0;
	li {
		margin: 0 0 .5rem;
		padding: 0 0 0 2rem;
		list-style-type: none;
		background-repeat: no-repeat;
		background-size: 1rem auto;
		background-position: 0 .72rem;
		background-image: url('../img/icons/check.svg');
	}
}




.list-arrow {
	margin-left: 0;
	padding: 0;
	li {
		line-height: 1.45;
		margin: 0 0 .5rem;
		padding: 0 0 0 1.3rem;
		list-style-type: none;
		background-repeat: no-repeat;
		background-size: .75rem auto;
		background-position: 0 .3rem;
		background-image: url('../img/icons/arr-right.svg');
	}
}