.icon-like {
  width: 1em;
  height: 1em;
}

.icon-phone-call {
  width: 1em;
  height: 1em;
}

.icon-smiling-girl {
  width: 1em;
  height: 1em;
}

.icon-social-blog {
  width: 1em;
  height: 1em;
}

.icon-social-facebook {
  width: 1em;
  height: 1em;
}

.icon-social-instagram {
  width: 1em;
  height: 1em;
}

.icon-social-rss {
  width: 1em;
  height: 1em;
}

.icon-social-youtube {
  width: 1em;
  height: 1em;
}

.icon-teddy-bear {
  width: 1em;
  height: 1em;
}

